<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonfirm.example.mapper.ItemMapper">
<!-- item 등록 -->
<insert id="createItem" parameterType="Item">
	INSERT INTO item (
		i_content,
		q_idx
	) VALUES (
		#{iContent},
		#{question.qIdx}
	)
	<selectKey keyProperty="iIdx" resultType="Integer">
		SELECT		last_insert_id()
	</selectKey>
</insert>

<!-- Item 매퍼 XML 파일 -->
<resultMap id="questionResultMap" type="com.example.Question">
    <id property="qIdx" column="q_idx" />
    <result property="qTitle" column="q_title" />
    <result property="qType" column="q_type" />
    <collection property="qItems" resultMap="itemResultMap" /> <!-- Item 객체들의 리스트를 매핑 -->
</resultMap>

<resultMap id="itemResultMap" type="com.example.Item">
    <id property="iIdx" column="i_idx" />
    <result property="iContent" column="i_content" />
</resultMap>

<select id="getQuestionWithItems" resultMap="questionResultMap">
    SELECT ta.*, tb.*
    FROM question ta
    LEFT JOIN item tb ON ta.q_idx = tb.q_idx
    WHERE ta.q_idx = #{qIdx}
</select>

</mapper>

