<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonfirm.example.mapper.ItemMapper">

<!-- ItemMappr.xml 
<insert id="createItem" parameterType="List">
	INSERT INTO item (
		i_content,
		q_idx
	) VALUES 
	<foreach collection="list" item="item" separator=",">
	(
		#{item.iContent},
		#{item.question.qIdx}
	)
	</foreach>
</insert>

<resultMap id="questionResultMapForItem" type="com.sonfirm.example.domain.Question">
    <id property="qIdx" column="q_idx" />
    <result property="qTitle" column="q_title" />
    <result property="qType" column="q_type" />
    <collection property="qItems" resultMap="itemResultMap" /> 
</resultMap>

<resultMap id="itemResultMap" type="com.sonfirm.example.domain.Item">
    <id property="iIdx" column="i_idx" />
    <result property="iContent" column="i_content" />
</resultMap>

<select id="getQuestionWithItems" resultMap="questionResultMapForItem">
    SELECT ta.*, tb.*
    FROM question ta
    LEFT JOIN item tb ON ta.q_idx = tb.q_idx
    WHERE ta.q_idx = #{qIdx}
</select>

-->
</mapper>

