<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonfirm.example.mapper.QuestionMapper">
<!-- question 등록 -->
<insert id="createQuestion" parameterType="Question">
	INSERT INTO question (
		q_title,
		q_type,
		s_idx
	) VALUES (
		#{qTitle},
		#{qType},
		#{survey.sIdx}	
	)
	<selectKey keyProperty="qIdx" resultType="Integer">
		SELECT		last_insert_id()
	</selectKey>
</insert>
</mapper>

