<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonfirm.example.mapper.SurveyMapper">
<!-- survey 등록 -->
<insert id="createSurvey" parameterType="Survey">
	INSERT INTO survey (
		s_title,
		s_desc
	) VALUES (
		#{sTitle},
		#{sDesc}
	)
	<selectKey keyProperty="sIdx" resultType="Integer">
		SELECT		last_insert_id()
	</selectKey>
</insert>

<!-- Question, Item 등록 -->
<insert id="createQuestion" parameterType="Question">
	INSERT INTO question (
		q_title,
		q_type,
		s_idx
	) VALUES (
		#{qTitle},
		#{qType},
		#{sIdx}	
	)
	<selectKey keyProperty="qIdx" resultType="Integer">
		SELECT		last_insert_id()
	</selectKey>
</insert>

<insert id="createItem" parameterType="com.sonfirm.example.domain.Question">
	INSERT INTO	item (
		i_content,
		q_idx	
	) VALUES
	<foreach collection="qItems" item="item" separator=",">
		(#{item.iContent}, #{qIdx})
	</foreach>
</insert>

<!-- survey 목록 -->
<select id="listSurvey" parameterType="Pagination" resultMap="SurveyResultMap">
	SELECT		*
	FROM		survey
	ORDER BY	s_idx	DESC
	LIMIT		#{startIndex}, #{itemsPerPage}
</select>

<!-- survey 카운트 -->
<select id="countSurvey" resultType="int">
	SELECT		COUNT(*)
	FROM		survey
</select>

<!-- Define resultMap for Survey class -->
<resultMap id="SurveyResultMap" type="com.sonfirm.example.domain.Survey">
  <id property="sIdx" column="s_idx" />
  <result property="sTitle" column="s_title" />
  <result property="sDesc" column="s_desc" />
  <collection property="sQuestions" ofType="com.sonfirm.example.domain.Question">
    
    <!-- Define resultMap for Question class -->
    <id property="qIdx" column="q_idx" />
    <result property="qTitle" column="q_title" />
    <result property="qType" column="q_type" />
    <collection property="qItems" ofType="com.sonfirm.example.domain.Item">
      
      <!-- Define resultMap for Item class -->
      <id property="iIdx" column="i_idx" />
      <result property="iContent" column="i_content" />
    </collection>
  </collection>
</resultMap>

<!-- survey paper : survey, question, item 3개 테이블 조인 -->
<select id="showAllData" parameterType="Integer" resultMap="SurveyResultMap">
	SELECT ta.*, tb.*, tc.*
	FROM survey ta
	LEFT JOIN question tb ON ta.s_idx = tb.s_idx
	LEFT JOIN item tc ON tb.q_idx = tc.q_idx
	WHERE ta.s_idx = #{sIdx}
</select>

</mapper>

