<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonfirm.example.mapper.SurveyMapper">
<!-- survey 등록 -->
<insert id="createSurvey" parameterType="Survey">
	INSERT INTO survey (
		s_title,
		s_desc
	) VALUES (
		#{sTitle},
		#{sDesc}
	)
	<selectKey keyProperty="sIdx" resultType="Integer">
		SELECT		last_insert_id()
	</selectKey>
</insert>

<!-- Question 등록 -->
<insert id="createQuestion" parameterType="Question">
	INSERT INTO question (
		q_title,
		q_type,
		s_idx
	) VALUES (
		#{qTitle},
		#{qType},
		#{sIdx}	
	)
	<selectKey keyProperty="qIdx" resultType="Integer">
		SELECT		last_insert_id()
	</selectKey>
</insert>

<insert id="createItem" parameterType="com.sonfirm.example.domain.Question">
	INSERT INTO	item (
		i_content,
		q_idx	
	) VALUES
	<foreach collection="qItems" item="item" separator=",">
		(#{item.iContent}, #{qIdx})
	</foreach>
</insert>

<!-- Survey 매퍼 XML 파일 -->
<resultMap id="surveyMap" type="com.sonfirm.example.domain.Survey">
    <id property="sIdx" column="s_idx" />
    <result property="sTitle" column="s_title" />
    <result property="sDesc" column="s_desc" />
</resultMap>

<!-- survey 목록 -->
<select id="listSurvey" resultMap="surveyMap">
	SELECT		*
	FROM		survey
	ORDER BY	s_idx	DESC
</select>

</mapper>

